<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cafetaria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Cafetaria" />
  </head>
  <body>
    <header>
      <a href="#main-content" class="skip-link">Menuju ke konten</a>
      <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
      <nav id="drawer">
        <a href="/" class="drawer-title">Cafetaria</a>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/rahmat-hidayat-24b554237/"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
      <a href="/" class="main-title">Cafetaria</a>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="jumbotron-title">Welcome to Cafetaria!</h1>
      </div>

      <article id="main-content">
        <h2>Restaurant</h2>
        <article class="wrapper"></article>
      </article>
    </main>
    <custom-footer></custom-footer>
  </body>
</html>
